<% layout("layouts/boilerplate") %>
<style>
  .mob {
    margin-bottom: 20px;
  }

  @media (max-width: 430px) {
  .mob {
    width: 83.333333%;   /* col-10 */
    margin-left: 8.333333%; /* offset-1 */
    margin-bottom: 1rem;
  }
}
</style>
<div class="row mt-3">
  <h2 class="col-6 offset-2 mob">Signup</h2>
  <div class="col-8 offset-2 mob">
    <form action="/signup" method="POST" novalidate class="needs-validation">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          name="username"
          id="username"
          type="text"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks Good!</div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          name="email"
          id="email"
          type="email"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks Good!</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">password</label>
        <input
          name="password"
          id="password"
          type="password"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks Good!</div>
      </div>
      <button class="btn btn-success">Signup</button>
    </form>
  </div>
</div>
